/* General layout */
html,


body {
    height: 100%;

   
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Dot';
    src: url('assets/fonts/Doto/static/Doto-ExtraBold.ttf');

}
/* Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Desktop default */
#video-background {
    display: block;
}

#mobile-videoBackground {
    display: none;
}

.spacer {
    height: 10%;
    width: 100%;
}


.Title {
    margin-bottom: 0%;
    text-align: center;

    display: block;
    top: 0;
    z-index: 1000;

}
.spacer2 {
    height: 20%;
    width: 100%;
}

.center-bottom {
      
      
      
        transform: rotate(90deg);
        z-index: 2;
        pointer-events: none;
        font-size: 62px;
        font-family: 'Dot', sans-serif;

}

/* Transparent overlay (blocker) */

/* Navigation */
a {
    display: block;
    font-weight: bold;
    font-size: 62px;
    margin-bottom: 15px;
    text-decoration: none;
   
    font-family: 'Dot', sans-serif;
    font-kerning: initial;
   
    
}
nav {
   
    bottom: 0;
    /* stick to bottom */
    left: 0;
    width: 100%;
    display: flex;
    /* horizontal layout */
    justify-content: center;
    /* center the link(s) */
    gap: 40px;
    /* space between links if multiple */
    cursor: pointer;
    margin: 0;
    padding: 15px 0;
   
    /* subtle background */
    z-index: 0;
    /* on top of everything */
}

nav a {
    color: rgb(80, 79, 79);
    font-family: 'Dot', sans-serif;
    font-weight: bold;
    font-size: 62px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

nav a:hover {
    transform: scale(1.3);
    color: rgb(0, 0, 0);
}

main p {
    max-width: 80%;
    margin: 40px auto;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font: bold;
font-family: 'Dot', sans-serif;
}



@media (max-width: 400px) {

.spacer {
        height: 90%;
}

    /* Main text */
    main p {
        width: 90%;
        max-width: 320px;
        margin:  auto;
        font-size: 25px;
        line-height: 1.5;
        color: rgb(27, 21, 64);
        text-align: left;
    }


    /* Background for mobile */
 
#video-background {
    display: none;
}

#mobile-videoBackground {
    display: block;
}


    
}